/* bugfix for bootstrap issue https://github.com/twbs/bootstrap/issues/10711 */
.row {
    margin-left: 0px;
    margin-right: 0px;
}
.page {
    position: absolute;
    width: 100%;
    /* min-height so that on iOS the address bar keeps hidden */
    min-height: 480px;
    top: 0;
}

/* TODO add other vendor prefixes! */
.slide-left.ng-enter {
    -webkit-animation: slideLeftEnter 0.5s;
}
@-webkit-keyframes slideLeftEnter {
    0% { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(0); }
}


.slide-left.ng-leave {
    -webkit-animation: slideLeftLeave 0.5s;
}
@-webkit-keyframes slideLeftLeave {
    0% { -webkit-transform: translateX(0); }
    100% { -webkit-transform: translateX(-100%); }
}


.slide-right.ng-enter {
    -webkit-animation: slideRightEnter 0.5s;
}
@-webkit-keyframes slideRightEnter {
    0% { -webkit-transform: translateX(-100%); }
    100% { -webkit-transform: translateX(0); }
}


.slide-right.ng-leave {
    -webkit-animation: slideRightLeave 0.5s;
}
@-webkit-keyframes slideRightLeave {
    0% { -webkit-transform: translateX(0); }
    100% { -webkit-transform: translateX(100%); }
}
