<div class="page">
    <div class="row navbar navbar-inverse">
        <div class="col-md-4 col-xs-4">
            <button ng-click="nav.back('/page1')" href="" class="btn btn-primary navbar-btn pull-left">
                <span class="glyphicon glyphicon-arrow-left"></span>
                Back
            </button>
        </div>
        <div class="col-md-4 col-xs-4">
            <h1 class="text-center navbar-text">Page3</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-xs-4">
            <h3>Normal</h3>
            <div style="height:200px; overflow:scroll; border: 3px solid red">
                <p ng-repeat="text in texts">{{text}}</p>
            </div>
        </div>
        <div class="col-md-4 col-xs-4">
            <h3>Fake</h3>
            <div style="height:200px; overflow:hidden;border: 3px solid green">
                <div scrolly-scroll>
                    <p ng-repeat="text in texts">{{text}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-4">
            <h3>Infinite</h3>
            <div style="height:200px; overflow:scroll; border: 3px solid blue; -webkit-overflow-scrolling: touch" when-scrolled="loadMore()">
                <p ng-repeat="text in texts">{{text}}</p>
            </div>
        </div>
    </div>
</div>